.Calendar__react-calendar___1SKLO {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.Calendar__react-calendar___1SKLO,
.Calendar__react-calendar___1SKLO *,
.Calendar__react-calendar___1SKLO *:before,
.Calendar__react-calendar___1SKLO *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Calendar__react-calendar___1SKLO button {
  border: 0;
  outline: none;
}
.Calendar__react-calendar___1SKLO button:not([disabled]):hover {
  cursor: pointer;
}
.Calendar__react-calendar__navigation___11yqC {
  height: 44px;
  margin-bottom: 1em;
}
.Calendar__react-calendar__navigation___11yqC button {
  min-width: 44px;
  background: none;
}
.Calendar__react-calendar__navigation___11yqC button:not([disabled]):hover,
.Calendar__react-calendar__navigation___11yqC button:not([disabled]):focus {
  background-color: #e6e6e6;
}
.Calendar__react-calendar__navigation___11yqC button[disabled] {
  background-color: #f0f0f0;
}
.Calendar__react-calendar__month-view__weekdays___29ibN {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
}
.Calendar__react-calendar__month-view__weekdays__weekday___28GiS {
  padding: .5em;
}
.Calendar__react-calendar__month-view__weekNumbers___JBKRH {
  font-weight: bold;
}
.Calendar__react-calendar__month-view__weekNumbers___JBKRH .Calendar__react-calendar__tile___2FyUi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;
  padding: calc(1em) calc(0.66666667em);
}
.Calendar__react-calendar__month-view__days__day--weekend___2P8Vl {
  color: red;
}
.Calendar__react-calendar__month-view__days__day--neighboringMonth___3SSc2 {
  color: #969696;
}
.Calendar__react-calendar__year-view___2Xo58 .Calendar__react-calendar__tile___2FyUi,
.Calendar__react-calendar__decade-view___L34YV .Calendar__react-calendar__tile___2FyUi,
.Calendar__react-calendar__century-view___1S3dO .Calendar__react-calendar__tile___2FyUi {
  padding: 2em .5em;
}
.Calendar__react-calendar__tile___2FyUi {
  max-width: 100%;
  text-align: center;
  padding: .75em .5em;
  background: none;
}
button.Calendar__react-calendar__tile___2FyUi[disabled] {
  background-color: #f0f0f0;
}
button.Calendar__react-calendar__tile___2FyUi:not([disabled]):hover,
button.Calendar__react-calendar__tile___2FyUi:not([disabled]):focus {
  background-color: #e6e6e6;
}
.Calendar__react-calendar__tile--hasActive___1xUza {
  background: #76baff;
}
button.Calendar__react-calendar__tile--hasActive___1xUza:not([disabled]):hover,
button.Calendar__react-calendar__tile--hasActive___1xUza:not([disabled]):focus {
  background: #a9d4ff;
}
.Calendar__react-calendar__tile--active___2D8om {
  background: #006edc;
  color: white;
}
button.Calendar__react-calendar__tile--active___2D8om:not([disabled]):hover,
button.Calendar__react-calendar__tile--active___2D8om:not([disabled]):focus {
  background: #1087ff;
}
.Calendar__react-calendar--selectRange___joPD1 .Calendar__react-calendar__tile--hover___1TSMR {
  background-color: #e6e6e6;
}
.DatePicker__react-date-picker___aYEfF {
  display: inline-flex;
  position: relative;
}
.DatePicker__react-date-picker___aYEfF,
.DatePicker__react-date-picker___aYEfF *,
.DatePicker__react-date-picker___aYEfF *:before,
.DatePicker__react-date-picker___aYEfF *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.DatePicker__react-date-picker__button___11Low {
  display: flex;
  border: thin solid gray;
}
.DatePicker__react-date-picker__button__input___2h8Cf {
  min-width: calc(4px + (4px * 3) +  4.32em  +  0.434em);
  flex-grow: 1;
  display: flex;
  padding: 0 2px;
  align-items: baseline;
}
.DatePicker__react-date-picker__button__input__divider___2k6Ja {
  padding: 1px 0;
}
.DatePicker__react-date-picker__button__input___2h8Cf input {
  min-width: calc(4px +  0.54em);
  height: 100%;
  padding: 1px;
  border: 0;
  -moz-appearance: textfield;
}
.DatePicker__react-date-picker__button__input___2h8Cf input::-webkit-outer-spin-button,
.DatePicker__react-date-picker__button__input___2h8Cf input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.DatePicker__react-date-picker__button__input___2h8Cf input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.DatePicker__react-date-picker__button__icon___1vwM2 {
  border: 0;
  background: transparent;
  padding: 4px 6px;
  cursor: pointer;
}
.DatePicker__react-date-picker__button__icon___1vwM2:hover svg g,
.DatePicker__react-date-picker__button__icon___1vwM2:focus svg g {
  stroke: #0078d7;
}
.DatePicker__react-date-picker__button__icon___1vwM2 svg {
  display: inherit;
}
.DatePicker__react-date-picker__calendar___2FY36 {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
}
.DatePicker__react-date-picker__calendar--closed___1vSLl {
  display: none;
}
.DatePicker__react-date-picker__calendar--above-label___SzS9N {
  bottom: 100%;
  top: auto;
}
.DatePicker__react-date-picker__calendar___2FY36 .DatePicker__react-calendar___jfUsv {
  border-width: thin;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/